* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  padding-top: 20px;
  float: left;
}

#navbar ul {
  list-style: none;
  margin: 0;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li .current {
  background: #444;
  color: #f7c08a;
}

#showcase {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

.text-primary {
  color: #f7c08a;
}

#showcase .showcase-content h1 {
  font-size: 60px;
}

.lead {
  font-size: 18px;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #333;
  background: #f7c08a;
}

#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  min-height: 100%;
  background: url("../img/photo-1.jpg") no-repeat;
  width: 50%;
}

#home-info .info-content {
  float: right;
  height: 100%;
  text-align: center;
  width: 50%;
  padding: 50px 30px;
  overflow: hidden;
}
.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}
